body{
    padding: 0;
    margin: 7px;
    
}
/* .container{
    max-width: 400px;
} */
header{
    background-color: #000066;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 70px;
}
header *{
    display: inline;

}
nav{
   
    margin-right: 10rem;
}
 li{
color: white;
margin: 0 0 0 5rem;
font-size: 14px;
}

li:hover{
    border: 1px solid #FFCC00;
    border-radius: 2px;
    
}

.talkbtn{
    position: absolute;
    right: 8%;
    height: 40px;
    width: 100px;
    background-color: #FFCC00;
    border-radius:10px;
    border: 2px solid #ffff;
    color: #000066;
    
}

.hero{
    display:flex ;
    align-items: center;
    justify-content: center;
    margin: 5rem 0 7rem 0;
    font-size:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.morebtn{
    position: absolute;
    color: #000066;
    top: 50%;
    height: 35px;
    width: 100px;
    background-color: #FFCC00;
    border-radius:5px;
    border: 2px solid #000066;

}
/* about */
#sec1{
    
    background-color: #000066;
    height: 60vh;
    color: #ffff;
    padding: 2rem 5rem 2rem 10rem;
}

h2{
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.me{
    margin: 1rem 0 0 0;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.content{
    text-align: left;
    margin: -12rem 0 0 15rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.resumebtn{
    height: 35px;
    width: 100px;
    background-color: #FFCC00;
    border-radius:5px;
    border:none;
    margin:2rem 0 0 15rem;    
}
.kuote{
    font-size: 12px;
    text-align: center;
}
/* project */
#sec2{
    display: flex;
    flex-direction: column;
    height: 90vh;
    color:black;
    padding: 1rem 5rem 2rem 10rem; 
    
}
.items{
    margin: 0 0 0 15rem;
    
}
.btn{
    height: 30px;
    width: 120px;
    background-color: #FFCC00;
    border-radius:5px;
    border:none;
    margin:0 0 0 1rem;  
}
img{
    height: 120px;
    width: 200px;
    margin: -7rem 0 0 21rem;
} 
h4{
    font-size: 20px;
}

/* contact */
#sec3{
    background-color: #000066;
    height: 40vh;
    color: #ffff;
    padding: 2rem 5rem 2rem 10rem;
}

.contactbtn{
    height: 40px;
    width: 120px;
    background-color: #FFCC00;
    border-radius:10px;
    border: 2px solid #ffff;
    color: #000066;
}

/* footer */
footer{
    background-color: #000066;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot{
    height: 30px;
    width: 30px; 
}
.footer *{
    display: inline;
    
}
 a img{
    color: white;
    
}
.last{
    color:white;
}
